body {
    font-family: Sans-serif;
}

.clear {
    clear: both;
}

.steps {
    border: 1px dotted white;
    position: relative;
    text-align: center;
}

.section {
    width: 100%
    clear: both;
    padding: 1em;
}

/* upload file with progress bar */

#uploadForm {
    margin:0;
    padding:0;
}

#uploadForm label, .label {
    margin:2px; 
    font-size:1em; 
    font-weight:bold;
}

#uploadForm div.section {
    border:#F0F0F0 solid 1px;
    background:#FAF8F8;
    padding:1em;
    margin-top: 0.5em;
}

.InputBox{
    padding:5px; 
    border:#F0F0F0 1px solid; 
    border-radius:4px; 
    background-color:#FFF;
}

#upload-progress-bar, 
#process-progress-bar,
#fix-csv-upload-progress-bar,
#fix-csv-process-progress-bar
{
    background-color: #12CC1A;
    height:20px;
    color: #FFFFFF;
    width:0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}

.btnSubmit{
    background-color:#09f;
    padding:10px 40px;
    color:#FFF;
    border:#F0F0F0 1px solid; 
    border-radius:4px;
}

.progress-div {
    border:#0FA015 1px solid;
    padding: 5px 0px;
    margin:30px 0px;
    border-radius:4px;
    text-align:center;
}

#targetLayer {
    width:100%;
}

#status-info {
    border:#0FA015 1px solid; 
    padding: 5px;
    margin: 10px 0px;
    border-radius:4px;
}